/*=====================*/
/* HEADER*/
/*=====================*/

.header{
    border: 2px solid rgb(81, 10, 24);
    width: 80%;
    margin: auto;
    line-height: 66px;
    height: 75px;
}
.h-left{
    color: red;
    float: left;
}

.h-right{
    float: right;
    margin-right: 80px;
}

.header-title{
    margin: 0;
    padding: 0;
}

.menu-link{
    margin: 0 50px;
    font-weight: bold;
}


a:link{
    color: red;
}


@media only screen and (max-width:880px) {
    .h-right{
        display: none;
    }
    
}


/*=====================*/
/* BODY*/
/*=====================*/
.body{
    justify-content: center;
    background-color: black;
}
.title{
    color:red;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 30px;
}

.menu{
    margin-top: 25px;
}

/*=====================*/
/* BEST MOVIE/
/*=====================*/

.best-movie-container{
    display: flex;
    justify-content: center;
    position: relative;
    /*border: 2px solid rgb(81, 10, 24);*/
    
}

.best-movie-img{
    width: 400px;
    border-radius: 10px;
}

.best-movie-title{
    position: absolute;
    color: red;
    background-color: black;
    opacity: 0.9;
    font-size: large;
    font-weight: bold;
    top: 35px;
    
}

.best-movie-button{
    position: absolute;
    top: 380px;
    color: red;
    background-color:rgba(255, 255, 255, 0.849);
    opacity: 0.9;
    font-weight: bold; 
    font-size: large;
    border-radius: 5px;
}



.best-movie-remuse{
    position: absolute;
    color: red;
    background-color: black;
    opacity: 0.7;
    font-size: medium;
    font-weight: bold;
    top: 400px;
    max-width: 350px;
}

.best-movie-button:hover{
    color: black;
    transition-duration: 1s;
}

p:hover{
    color:white;
    transition-duration: 1s;
}

/*=====================*/
/* CARROUSSEL/
/*=====================*/


.carroussel{
    display: flex;
    justify-content: center;
    justify-self: center;  
}


.container{
    display: flex;
    align-items: center; /* responsive*/
    max-width: 1110px;
    overflow-x:auto; /* créer la barre de défilement*/
    
}

/* we set each image in each section*/
.thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    transform: scale(.95);
    transition: 0.5s; /* grow duration*/
}

.thumbnail:hover
{
    transform: scale(1.08); /* grow size*/
}


.arrow{
    width: 50px;
    margin: auto;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;   
    background-color: black; 
}

button{
    color: black;
    background-color: black;
    border-color: black;
    border: black;


}

