/*=====================*/
/* HEADER*/
/*=====================*/


.header, .footer{
    border: 2px solid rgb(81, 10, 24);;
    margin: 0px 0px 20px 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}
    
#logo1, #logo2{

    border: 2px solid rgb(81, 10, 24);
    
}


#menu{
    color: rgb(191, 9, 9);
    margin: auto 0 auto 0;
    border: 2px solid rgb(81, 10, 24);
    
}


/*=====================*/
/* BODY*/
/*=====================*/
.body{
    justify-content: center;
    background-color: black;
}
.title{
    color:red;
    text-align: center;
    border: 2px solid rgb(81, 10, 24);
    font-size: 18px;
    font-family: sans-serif;
}

.menu{
    margin-top: 25px;
}

/*=====================*/
/* BEST MOVIE/
/*=====================*/
.best-movie{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
    width: 600px;
}

p{
    color: whitesmoke;
    text-align: center;
    
    font-weight: bold;   
}
p:hover{
    color: red;
}


.best-movie-button{
    color: red;
    background-color: rgb(20, 17, 17);
    font-weight: bold; 
    border-radius: 5px;
}

.div-button{
    display: flex;
    justify-content: center;
}
.best-movie-button:hover{
    color: whitesmoke;
    transition-duration: 1s;
}
/*=====================*/
/* CARROUSSEL/
/*=====================*/


.carroussel{
    display: flex;
    justify-self: center;
}


.container{
    margin: 0 auto;
    display: flex;
    justify-content: center; /* ces quelques lignes rendent */
    align-items: center; /* responsive*/
    overflow-x: auto; /* créer la barre de défilement*/
    overflow-wrap: normal;
    -webkit-overflow-scrolling: touch; /* permet le scroll shit + roulette*/

}

/* we set each image in each section*/
.thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    transform: scale(.95);
    transition: 0.5s; /* grow duration*/
}

.thumbnail:hover
{
    transform: scale(1.08); /* grow size*/
}


.arrow{
    width: 50px;
    margin: auto;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;   
    background-color: black; 
}

button{
    color: black;
    background-color: black;
    border-color: black;
    border: black;


}

